* {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    box-shadow: 4px 4px 4px 4px rgb(161, 175, 164);
    border: none;
}

.header h1 {
    font-size: 18px;
}

.header h2 {
    font-size: 17px;
}

.title {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 1%;
}

.name {
    font-size: 30px;
    color: black;
}

.options {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.options a {
    text-decoration: none;
    color: black;
}
.options a:hover{
    transform: scale(1.1);
}

.login button {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(33, 101, 202);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button a {
    text-decoration: none;
    color: white;
}

.login button:hover {
    background-color: rgb(38, 0, 255);
    transform: scale(1.1);
}

.bgimg {
    display: flex;
    height: 700px;
    background-image: url("cat.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}

.motiv {
    display: flex;
    padding-left: 7%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 28px;
    color: rgb(28, 26, 26);
    box-shadow: 4px 4px 4px 4px rgb(161, 175, 164);

}

.input {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1%;
    margin-top: 0.5%;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    box-shadow: 4px 4px 4px 4px rgb(136, 152, 140);
    border: none;

}

.input input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.input input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
}

.serv {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;

}

.card {
    height: 300px;
    width: 30%;
    border: none;
    box-shadow: 4px 4px 4px 4px rgb(136, 152, 140);
    border-radius: 10px;
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.card:hover{
    transform: scale(1.1);
}

.card img {
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.shop{
    background-image: url("shopimg.jpg");
    height:750px;
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 4px 4px 4px 4px rgb(100, 100, 100);
}
.shop .text h1{
    font-size: 50px;
}
.shop .text h3{
    font-size: 20px;
}

.shop .text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    padding-right: 90px;
    padding-top: 10%;
}

.shop .btn{
    display: flex;
    justify-content: right;
    padding-right: 550px;
    font-size: 19px;
    gap: 50px;
    padding-top: 50px;
}
.shop .btn a{
    background-color: white;
    height: 50px;
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;   
}
.shop .btn a:hover{
    background-color: lightgray;
    color: white;
}


.plan .text{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-bottom: 70px;
    font-size: 20px;

}


.plan .cards{
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    align-items: flex-start;
    padding-bottom: 70px;
}

.plan .cards .card{
    height: 550px;
    width: 350px;
    background-color: rgba(211, 211, 211, 0.19);

}
.plan .cards .midcard{
    
    transform: translateY(-30px);
}
.plan .cards .card h1{
    font-size: 40px;
}
.plan .cards .card h3{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
}

.plan .cards .card .orderbtn {

    background-color: rgb(17, 139, 17);
    height: 8%;
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
.plan .cards .card .orderbtn a{
    
    
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold; 
}
.plan .cards .card .orderbtn a:hover{
    
    transform: scale(1.1);
}

.footer {
    background-color: rgba(128, 128, 128, 0.306);
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-around;

}

.aboutus {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.aboutus .img {

    height: 450px;
    width: 700px;
    background-image: url("pet.jpg");
    background-repeat: no-repeat;
}

.footer h1 {

    font-size: 21px;
}

.footer h2 {

    font-size: 17px;
}



.term {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.306);
    padding-bottom: 1%;
}

.term h1 {
    font-size: 18px;
}

.last {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: white;
    background-color: rgba(0, 0, 0, 0.745);
    padding-top: 1%;
    padding-bottom: 1%;
}

.last h1 {
    font-size: 18px;
}
