.bgimg{
    height: 350px;
    background-image: url("house.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-size: 300px auto;
    justify-content: center;
}

form{
    max-width: 450px;
    margin: 20px auto ;
}
fieldset{
    border: 2px solid;
    padding: 30px 60px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;

}
legend {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #333;
}
label{
    display: inline-block;
    width: 90px;
}

input[type="text"],
input[type=password]{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
input[type="submit"]{
    width: 100px;
    height: 35px;
}
.reg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.reg button{
    font-size: 18px; 
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: rgb(33, 101, 202); 
    color: white;
    border: none; 
    cursor: pointer;
    transition:background-color 0.3s ease;
}
.reg button a {
    text-decoration: none;
    color: white; 
}

.reg button:hover {
    background-color: rgb(38, 0, 255); 
}